/* Basic styling */
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body {
        
      background-color: #f2f2f2;
        font-family: 'Roboto', sans-serif;

    }
    nav {
        background-color:rgb(34, 34, 34);
        padding: 5px 20px;
    }
    ul {
        list-style-type: none;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .logo a:hover {
        text-decoration: none;
    }
    .menu li {
        font-size: 16px;
        padding: 15px 5px;
        white-space: nowrap;
    }
  .logo a,
  .toggle a {
	font-size: 20px;
  }
  .button.secondary {
	border-bottom: 1px #444 solid;
  }

  i.fa::before{
    font-size: 15px;
    padding: 5px;
    color: #fff;
}
  /* Mobile menu */
    .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }
    .toggle {
    order: 1;
    }
    .item.button {
    order: 2;
    }
    .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    }
    .item.active {
    display: block;
    }
    /* Tablet menu */
    @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background: transparent;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
    }
  /* Desktop menu */
  @media all and (min-width: 1166px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
  }

/* Pop Up Delete */

.overlay{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.active{
    visibility: visible;
}


.popup{
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: 3.s ease all;
}

.popup h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}


.popup form .contenedor-inputs input{
    width: 100%;
    margin-bottom:20px;
    height:52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border:1px solid #BBBBBB;
    
}

.popup-label{
     text-transform: uppercase;
     display: block;
     padding-bottom: 10px;
     font-size: 18px;
     font-weight: 500;
     color: #333232;
}

.popup form .btn-submit{

    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background-color: #34CD60;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition:.3s ease all;
}

.popup form .btn-submit:hover{

    background-color: rgba(5, 82, 37, 0.9);
}

/* Animaciones PopUp */

.popup.active{
    opacity: 1;
    transform: scale(1);
}

/*main */
.info-text
{
  font-size: 4.5vh;
  text-align: center;
}
.container{
  margin: 0 auto;
  min-height: 600px;
}
.form-control{
  width: 46%;
}


/*FOOTER*/
.container-footer{
  margin: 0 auto;
  width: 80%;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#footer-text{
  text-align: center; 
  margin: 10px;
}


.container-footer a{
  color: #fff;
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
}




/* Modificacion Bootstrap */

.alert-success , .alert-danger {
  width: 25%;
  margin: 0 auto;
}


@media screen and (max-width: 600px){
  .container-footer {
    flex-wrap: wrap ;
    margin-top: 30px;
  }
 
  

}